notebook==6.5.5
ipython==7.34.0
ipdb==0.13.9
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.0
opencv-python==4.10.0.84
Pillow==11.0.0
tensorboardX==2.6.0
scikit-image==0.24.0
scipy==1.13.1
torch==2.5.1+cu118
torchvision==0.20.1+cu118
torchaudio==2.5.1+cu118
tensorflow==2.17.1
